*

/*{
 background-color: rgba(201, 224, 253, 0);
} */
.content {
  display: flex;
  background: conic-gradient(at center top, rgba(198, 201, 204, 0.692), rgba(248, 247, 245, 0.24), rgb(255, 253, 253));


}
@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
